body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
#sketchBoxes{
    display:flex;
    max-width:400px;
    max-height: 400px;
    flex-wrap: wrap;
    border:0.1px solid black;
}
.box{
    flex-wrap: wrap;
    display:flex;
     width:25px;
    height:25px; 
    
}
.theButtons{
    display:flex;
    flex-direction: column;
    gap:25px;
}
.changedColor{
    background-color: #00ff00;
}

.btn,.clear{
    display: flex;
    margin-right:30px;
    height:60px;
    width:360px;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 25px;
    color:brown;
}
button:hover{
    font-size: 35px;
}
 
